@tailwind base;
@tailwind components;
@tailwind utilities;
/*
 * Common styles
 */
.monospace {
    font-family: 'Roboto Mono', monospace;
}

.input-error + .input-error {
    display: none;
}

.el-radio__input.is-checked + .el-radio__label {
    color: #ffffff;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #000000;
    background: #000000;
}

.el-textarea {
    /*border-color: rgba(0, 0, 0, 0);*/
    --el-input-bg-color: black;
    --el-border-color: black;
    --el-input-text-color: white;
}

.hide .el-upload--picture-card {
    display: none;
}

:root {
    --el-color-success: #4ecd5f;
    --el-color-primary: black;
}

.el-button--success {
    --el-button-hover-border-color: #2b7a39;
    --el-button-hover-bg-color: #2b7a39;
}
.el-divider--horizontal {
    margin: 0;
}
.el-dropdown-link {
    cursor: pointer;
    color: white;
}
.el-icon-arrow-down {
    font-size: 12px;
}
.demonstration {
    display: block;
    color: #8492a6;
    font-size: 14px;
    margin-bottom: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
